* {
    box-sizing: border-box;
  }
  
  html {
    font-family: Bahnschrift, sans-serif;
    line-height: 1.8;
    line-height: lh(26px);
  }
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 117, 117);
    color: whitesmoke;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin: 0 0 1rem;
    line-height: lh(40px, 29px);
    text-align: center;
    font-size: 40px;
  }
  
  .root-cmp {
    width: 100%;
    height: 100bh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }